*{
    margin: 0;
    padding: 0;
}
html{
    text-align: center;
}
#namediv{
    margin-top: 50px;
}
.input{
    font-size: 25px;
    color: cyan;
    font-weight: 700;
    font-family: cursive;
    margin: 25px;
}
#entry{
    width: 110px;
    height: 30px;
    font-size: 23px;
    background-color: blue;
    color: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color:burlywood;
}
table, th, td{
    border: 2px solid black;
    padding: 5px;
}
th{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial;
    color: black;
}
td{
    font-size: 25px;
    color: black;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}